
/*  HTML5 Boilerplate  */

body, html {
background: #FFF;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em;list-style:none; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #9de9f7; color:#000; text-shadow: none; }
::selection { background:#9de9f7; color:#000; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #9de9f7;text-decoration:none; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

body {
	font:12px/16px 'HelveticaNeue', Helvetica, Arial, sans-serif;
}
#wrapper {position: relative; }


h1.title {font-family:'Lato',Arial,sans-serif;color:#000;text-transform:uppercase;font-weight:600;padding:36px 0 24px 0; font-size:34px;text-align:center;
display: none;
}


/* ===== Header ===== */
header {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	background: #FFF;
	color: #275c69;
	height: 70px;
}
#header-inner {
width: 990px;
margin: 0px auto;
padding-top: 18px;
}

header h1 {
	float: left;
}

header h1 a {
	background:url(img/logo.png) no-repeat;
	width:128px;
	height:39px;
	text-indent:-9999px;
	display:block;
	margin: 0px;
}


/* ===== Navigation ===== */
nav.main-nav {	
	text-align: left;
	float: left;
	padding: 19px 0px 0px 20px;
}
nav.main-nav li { display:inline; }
nav.main-nav a {
	display: inline-block; 
	padding: 0px 10px;
	text-transform:uppercase;
	font-weight: 600;
	margin:0;
	font-size:12px;
	line-height: 22px;
	letter-spacing:1px;
	-webkit-transition:all .5s;
}


nav.main-nav a:hover {
	color:#000;
}

nav.secondary-nav {	
	text-align: left;
	float: right;
	padding: 19px 0px 0px;
}

nav.secondary-nav li { display:inline; padding: 0px; }

nav.secondary-nav a {
	display: inline-block; 
	padding: 0px 10px;
	text-transform:uppercase;
	font-weight: 600;
	margin:0;
	font-size:12px;
	line-height: 22px;
	letter-spacing:1px;
	-webkit-transition:all .5s;
}
nav.secondary-nav .first a {
border-right: 2px solid #9fcfbe;
}

nav.secondary-nav a:hover {
	color:#000;
}

.breadcrumb { display: none; }
body.admin .breadcrumb { display: block; position: absolute; right: 0px; line-height: 24px;}

/* ===== Main Content ===== */
#content {background:#f6f6f6;min-height:300px;padding: 0px 0px 83px;}
body.front #content { min-height: 540px; background: #f6f6f6 url(img/frontbanner.jpg) center 65px no-repeat; }

.main-banner {padding:0;margin:0;}
.banner-image {/*width:625px;height:537px;*/float:left;}
.banner-description {width:340px;margin:180px 0 0 0;float:left;}
.banner-description h2 {color:#88264b;font-size:66px;font-weight:none;font-family:'Lato',Arial,sans-serif;margin:0 0 0 -5px;}
.banner-description p {color:#66625e;font-size:14px;font-family:'Lato',Arial,sans-serif;line-height:20px;}
.banner-description a {color:#c33970;font-size:13px;text-transform:uppercase;display:block;margin:20px 0 0 0;}
.banner-description a:after {content:url(img/shop_now_btn.png) no-repeat;width:16px;height:17px;padding:0 0 0 10px;}

#marquis-slider {height:80px;background:#fffaf0 url(img/marquis_slider_bg.jpg) no-repeat top center;}
#marquis-slider ul {list-style-type:none;margin:0 auto;overflow:hidden;width:430px;}
#marquis-slider li {/*width:130px;height:70px;background:#E0FFFF;*/float:left;margin:0 10px 0 0;border:1px solid #f0f0f0; cursor: pointer;}
#marquis-slider li.activeSlide { border:1px solid #000; }

#alternate-products {background:#fffaf0;overflow:hidden;width:100%;display: block;line-height: 0px;}
.alternate-product {/*height:260px;*/width:50%;float:left;/*overflow:hidden;*/}
.alternate-product .alt-image {float:left;}
.alternate-product .alt-image img {}
.alternate-product .alt-description {float:left;width:200px;}
.alternate-product .alt-description h3 {color:#88264b;font-size:34px;font-weight:none;font-family:'Lato',Arial,sans-serif;margin:70px 30px 0 -5px;}
.alternate-product .alt-description p {color:#66625e;font-size:11px;font-family:'Lato',Arial,sans-serif;line-height:20px;}
.alternate-product .alt-description a {color:#c33970;font-size:13px;text-transform:uppercase;display:block;margin:20px 0 0 0;}
.alternate-product .alt-description a:after {content:url(img/shop_now_btn.png) no-repeat;width:16px;height:17px;padding:0 0 0 10px;}

/* ===== About ===== */


.page-about div.content {
width: 545px;
margin-left: 445px;
font-family:'Lato',Arial,sans-serif;
font-size: 18px;
color: #525252;
line-height: 30px;
font-weight: 200;
}

.page-about h1.title {
display: block;
width: 545px;
margin-left: 445px;
font-family:'Lato',Arial,sans-serif;
font-size: 45px;
color: #9f9f9f;
line-height: 30px;
font-weight: 200;
text-align: left;
padding: 22px 0px 18px;
}

.page-about #content-inner {
background: url(img/about.jpg) left 18px no-repeat;
}

/* ===== Collection ===== */
.collection {padding:40px 0 0 20px;}
.collection ul {overflow:hidden;padding:0;margin:0;}
.collection li {width:431px;height:436px;float:left;margin:0 20px 25px 20px;border:1px solid #f0f0f0;position:relative; cursor: pointer;}
.collection .views-field-name span {text-align:center;position:absolute;bottom:40px;left:0;margin:0 auto;width:100%;}
.collection .views-field-name span a {font-family:'Lato',Arial,sans-serif;color:#000;font-size:29px;text-transform:uppercase;color:#000;padding:2px 4px 0 4px;cursor:pointer;
-webkit-transition: background .25s ease-in;
-moz-transition: background .25s ease-in;
-o-transition: background .25s ease-in;
}
.collection li:hover span a {background:#000;color:#fff;padding:2px 4px 0 4px;}

/* ===== Press ===== */
.view-id-press { padding-top: 12px; }

.view-id-press .views-row {
width: 320px;
position: relative;
margin-bottom: 60px;
}

.view-id-press .views-row-odd {
float: left;
}

.view-id-press .pressdetails {
color: #72716f;
width: 210px;
position: absolute;
font-size: 12px;
line-height: 22px;
}

.view-id-press .pubdate {
font-style: italic;
}

.view-id-press h3 {
font-weight: normal;
font-size: 18px;
font-style: italic;
margin-bottom: 6px;
}

.view-id-press .views-row-odd .pressdetails {
top: 0px;
left: 304px;
text-align: left;
}

.view-id-press .views-row-even {
float: right;
text-align: right;
}

.view-id-press .views-row-even .pressdetails {
bottom: 0px;
right: 304px;
text-align: right;
}


/*  ======  */

/*  ====== Products ======  */



.view-id-Products .views-row {
width: 350px;
background: #FFF;
float: left;
margin-bottom: 12px;
color: #9c687b;
font-family:'Lato',Arial,sans-serif;
text-align: center;
}
.view-id-Products .views-row-odd {
margin-right: 12px;
}
.view-id-Products .view-content .productlist-overlay {  
background: #b8b8b8;
color: #FFF;
margin:0 0 5px 0;
padding: 6px 12px;
height: 40px;
}

.view-id-Products .view-content .views-field-field-image-cache-fid {
line-height: 0px;
}

.view-id-Products .views-field-title {
font-size: 18px;
font-weight: 400;
letter-spacing: 2px;
margin: 0px 0px 8px;
text-transform: uppercase;
}

.view-id-Products .views-field-body {
font-size: 12px;
line-height: 18px;
padding: 0px 51px;
}

.view-id-Products a {
display: inline-block;
text-transform: uppercase;
background: #9c687b;
color: #FFF;
height: 35px;
line-height: 35px;
padding: 0px 18px;
text-shadow: #000 1px 1px;
margin: 8px 0px 16px;
}

/*  ======  */

/*  ==  Product Detail == */
#content-inner {
width: 990px;
margin: 0px auto;
position: relative;
}

#product_full {
background: #FFF;
padding: 32px 14px 16px 0px;
font-family:'Lato',Arial,sans-serif;
}

#product_full .fullimage {
float: left;
width: 424px;
text-align: center;
}

#product_full .productdetails {
float: left;
width: 240px;
color: #353535;
line-height: 18px;
margin: 18px 0px 0px 18px;
}

#product_full h1 { 
font-size: 24px; 
margin: 0px 0px 18px;
letter-spacing: 1px;
font-weight: 400;
color: #9c687b;
}

#product_full .node-add-to-cart { 
display: inline-block;
text-transform: uppercase;
background: #9c687b;
color: #FFF;
height: 35px;
line-height: 35px;
padding: 0px 18px;
text-shadow: #000 1px 1px;
margin: 8px 0px 16px;
border: 0px none;
}

/*  ==  Contact == */

.contact {
	min-height:400px;
	text-align:center;
	width: 990px;
}


.contact h3, .contact a {
	background:#000;
	padding:10px 20px;
	color:#fff;
}


.contact h3 {
	font:32px/200% 'Lato', Helvetica, sans-serif;
	display:inline;
}


.contact a {
	font:18px 'Lato', Helvetica, sans-serif;
}


.contact div {
	margin:100px 0 0 0;
	width: 990px;
}

body.page-contact span.submitted { display: none; }
body.page-contact form {  }
body.page-contact label { float: left; width: 100px; clear: left;color: #5e554e; font-size: 14px; line-height: 34px; font-weight: normal; text-align: right; margin-right: 12px; }
body.page-contact input.form-text { width: 480px; height: 32px; line-height: 32px; padding: 0px 6px; border: 1px solid #f1f2f2; }
body.page-contact textarea { width: 480px; height: 192px; line-height: 18px; padding: 6px; border: 1px solid #f1f2f2; }
body.page-contact span.form-required { display: none; }
body.page-contact input.form-submit { background: #9c687b; color: #FFF; font-weight: bold; text-transform: uppercase; padding: 8px 14px; border: 0px none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin-left: 114px; }
body.page-contact .content p { color: #9c687b; font:32px/40px 'Lato', Helvetica, sans-serif; font-weight: 200; padding-left: 114px; width: 487px;}

.page-contact h1.title {
display: block;
width: 545px;
font-family:'Lato',Arial,sans-serif;
font-size: 45px;
color: #9f9f9f;
line-height: 30px;
font-weight: 200;
text-align: left;
padding: 22px 0px 18px 114px;
}


/*  ----- */



/* === category nav ==== */

.section-shop #content-inner, .section-products #content-inner {
padding-top: 12px;
}

.section-shop #content-area, .section-products #content-area {
float: left;
width: 716px;
}


.section-shop #content-top, .section-products #content-top {
	float: left;
	width: 260px;
	margin-right: 12px;
}


#block-block-1 .block-inner {
background: #ededed;
font-family:'Lato',Arial,sans-serif;
font-size: 14px;
text-transform: uppercase;
padding: 22px 32px;
}

#block-block-1 h3.title {
color: #d5736e;
margin: 0px;
padding: 12px 0px;
font-weight: 400;
font-size: 20px;
letter-spacing: 2px;
}

#block-block-1 ul { 
padding: 0px;
list-style-type: none;
}

#block-block-1 ul li {
list-style-type: none;
margin: 0px;
padding: 3px 0px;
} 

#block-block-1 ul li a {
color: #9c687b;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1px;
}

/* ===== Footer ===== */
footer {height:28px;overflow:hidden; background: #FFF; 	font-family: 'Lato', Helvetica, Arial, sans-serif; color: #d5736e; text-transform: uppercase;}
#copyright a {
color: #d5736e;
}
#footer-inner { width: 990px; margin: 0px auto; }
nav#social {
float: left;
}
nav#social a {
text-align: left;
text-indent: -9999px;
display: block;
height: 28px;
width: 26px;
float: left;
}
nav#social .facebook a {
background: url(img/facebook.png) center center no-repeat;
margin-right: 4px;
}
nav#social .twitter a {
background: url(img/twitter.png) center center no-repeat;
}

#copyright, #footer-nav {
float: right;
line-height: 28px;
margin-left: 12px;
}

/* ========= */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
span.clear { display: block; height: 1px; clear: both; }

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

.class_box_shadow{
    width: 374px;
    min-width: 200px;
    min-height: 130px;
    margin: auto;
    background: #ccc;
    border: 5px solid white;
    position:relative;
    box-shadow: 1px 7px 11px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 1px 7px 11px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 1px 7px 11px rgba(0, 0, 0, 0.46);
}

/* 
    fieldset styles 
*/

legend{margin:0;  display:block; padding:0;}
fieldset{border: none;}
fieldset div{margin-left:10px; margin-right: 10px;}
fieldset fieldset{padding-left:1em; background:#eee;}
html.js fieldset.collapsible,
fieldset
{
  margin:0 0 20px 0;
  padding:20px 0 10px 0px;
  /* width:100%; width:95%; ie7 screws with the with in */
  background:#FFF;display:block; position: relative; top:0px; left:0;
}

html.js fieldset legend span{width:100%;}

html.js fieldset.collapsible legend a span,
html.js fieldset.collapsible legend span,
html.js fieldset legend span
{
  height:20px;
  color:#FFF;
  display:block;
  position: absolute;
  left:0;
  top:0px\9;/ie7 & ie8 8 ugly hack thanx to FF FF goes nuts of theres a top:0; so to correct that we have to add a selector for ie8/
  font-weight:normal; text-transform: uppercase;
  font-size:10px; line-height:20px;
  background-color:#f1f2f2;
}

html.js fieldset legend span{
display:block; 
background:#f1f2f2; 
/* padding:0 0 0 20px; */
  color: #7a8181;
text-indent: 20px;
font-weight: bold;
}

html.js fieldset.collapsible legend a {
text-decoration: none;
}

html.js fieldset.collapsible legend a span{background:#f1f2f2 url(img/fieldset_open.png) no-repeat 5px 5px; 
color: #7a8181;
/* padding:0 0 0 20px; */
text-indent: 20px;
}
html.js fieldset.collapsed legend a span{display:block; background:#f1f2f2 url(img/fieldset_closed.png) no-repeat 5px 5px; 
cursor: pointer; 
/* padding:0 0 0 20px; */
text-indent: 20px;
}
html.js fieldset.collapsed{padding:5px 0; height:0; margin:0 0 20px 0;}
html.js fieldset.collapsed legend a,
html.js fieldset.collapsed legend a:hover,
html.js fieldset.collapsed legend a span:hover,
html.js fieldset.collapsible legend a span:hover
{
  background-color:#7a8181;
  color: #FFF;
  text-decoration: none;
}

html.js fieldset.collapsed legend a:hover
html.js fieldset.collapsed legend a span:hover,
html.js fieldset.collapsible legend a span:hover {
  text-decoration: none;
}

html.js fieldset.collapsible .fieldset-wrapper {overflow: hidden; padding-top: 8px; margin-right: 10px;}
html.js input.form-autocomplete{background-position: 100% 7px;}
html.js input.throbbing{background-position:100% -18px;}

/* 
end fieldset style 
*/

div.resizable-textarea {
width: 99%;
}

div.content-add-more.clear-block {
margin-bottom: 12px;
}

span.clear {
display: block;
height: 1px;
clear: both;
}

.cufon-loading { 
visibility: hidden;
}

.teaser-checkbox {
display: none;
}



/* Console, style from slate theme. */
/* line 127, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 134, ../sass/style.sass */
div.warning {
  color: #FFF;
  background: #edb714;
  border-color: #edb714;
}

/* line 139, ../sass/style.sass */
div.error {
  color: white;
  background: #ea8836;
  border-color: #ea8836;
}

/* line 144, ../sass/style.sass */
div.status {
  color: #FFF;
  background: #607890;
  border-color: #607890;
}

div.status a {
color: #FFF;
font-weight: bold;
}

body.page-cart {
font-family: "Lato", Arial, sans-serif;
}

body.page-cart #content-inner {
width: 1000px;
}

body.page-cart h1.title {
display: block;
}

table.cart-review {
width: 99%;
border: 0px;
margin: 12px auto;
}

body.page-cart-checkout #content-area {
background: #FFF;
padding: 22px 18px;
}


/* !cart */
div#cart-form-products {
border: 0px none;
}

#cart-form-products tr {
border-bottom: 0px none;
}

#cart-form-products td {
padding: 8px;
vertical-align: middle;
}

#cart-form-products thead th {
padding: 8px;
vertical-align: middle;
border-bottom: 0px none;
text-transform: uppercase;
}

#cart-form-buttons {
border: 0px none;
}

#cart-form-buttons input {
background: #9c687b;
border: 0px none;
font-size: 14px;
text-transform: uppercase;
height: 34px;
line-height: 34px;
padding: 0px 26px;
color: #FFF;
margin: 12px 18px 0px 0px;
font-family: Helvetica, Arial, sans-serif;
font-size: 12px;
}

#cart-form-buttons #continue-shopping-button {
float: left;
margin-right: 0px;
margin-left: 10px;
}

#cart-form-products tr.odd {
background: #FFF;
}

#cart-form-products tr.even {

}

table { width: 99%; border-collapse: collapse; }

tr.even, tr.odd {
background-color: #eaeaea;
border-bottom: 1px dotted #87817a;
padding: 0.1em 0.6em;
}

tr.odd {
background-color: #FFF;
}

tr.odd td, tr.even td { padding: 10px 5px; }

/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 4px solid #888;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	overflow:hidden;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}


#slide_content {
display: none;
background: #f9f9f9;
position: relative;
}

.slide-inner {
width: 1070px;
margin: 0px auto;
position: relative;
}

.button-close {
width: 34px;
height: 76px;
background: url(img/close.png) no-repeat;
cursor: pointer;
position: absolute;
left: 50%;
top: 0px;
margin-left: 535px;
}

#about_section {
height: 254px;
background: url(img/about.jpg) left no-repeat;
}

#contact_section {
height: 215px;
background: url(img/contact.jpg) left no-repeat;
text-align: center;
}

#contact_section h3 {
color: #828282;
text-transform: uppercase;
font-weight: 800;
padding: 42px 0 22px;
font-size: 12px;
}

#contact_section a {
color: #000;
font-weight: 400;
}

#about_section p {

padding: 30px 20px 0px 350px;
font-size: 11px;
line-height: 18px;
color: #373030;
}

#slide_data {
display: none;
}

body.page-user h1.title {
display: block;
}


body.page-user #content-inner {
width: 980px;
}