




div.tabs{margin:0 0 5px 0;}ul.primary{margin:0;padding:0 0 0 10px;border-width:0;list-style:none;white-space:nowrap;line-height:24px;height:24px;background-color:#f1f2f2;}ul.primary li{float:left;margin:0;padding:0;}ul.primary li a{display:block;height:24px;margin:0;padding:0px 10px 0px 10px;border-width:0;font-weight:bold;text-decoration:none;color:#7a8181;background-color:transparent;}ul.primary li a:hover{border-width:0;background-color:#FFF;}ul.primary li a:hover .tab{}ul.primary li.active a,ul.primary li.active a:hover{border-width:0;color:#FFF;background-color:#000;}ul.primary li.active a .tab,ul.primary li.active a:hover .tab{}ul.secondary{margin:0;padding:4px 0 4px 17px;border-bottom:1px solid #EDEBEB;border-left:1px solid #EDEBEB;border-right:1px solid #EDEBEB;list-style:none;white-space:nowrap;background:#EDEBEB;height:22px;line-height:22px;}ul.secondary li{float:left;margin:0 5px 0 0;padding:0px;border-right:none;height:22px;line-height:22px;}ul.secondary a{display:block;height:22px;line-height:22px;margin:0;padding:0 8px;text-decoration:none;color:#777;background:#EDEBEB;}ul.secondary a .tab{display:block;height:18px;margin:0;padding:3px 8px;line-height:18px;}ul.secondary a:hover{color:#000;background:#c9c9c9;}ul.secondary a.active,ul.secondary a.active:hover{color:#000;border:0px;background:#c9c9c9;}
