How to add a pager to the top and bottom of a view in Views2.

Copy the views-view.tpl.php from the /views/theme directory to themes/yourtheme/theme directory. Find the following code...


<pre>
  &lt;?php if ($attachment_before): ?&gt;
    &lt;div class="attachment-before"&gt;
      &lt;?php print $attachment_before; ?&gt;
    &lt;/div&gt;
  &lt;?php endif; ?&gt;
</pre>

Insert the following code after it (this is copied directly from the same code at the bottom of the tpl):

<pre>
  &lt;?php if ($pager): ?&gt;
    &lt;?php print $pager; ?&gt;
  &lt;?php endif; ?&gt;
  </pre>

