
/* Animated throbber */
html.js .uc_out_of_stock_throbbing {
  background-image: url(throbber.gif);
  background-repeat: no-repeat;
  background-position: left 3px;
  display: none;
}
html.js .uc_out_of_stock_throbbing.uc_oos_throbbing {
  background-position: left -17px;
  display: block;
}

.uc_out_of_stock_html p {
font-weight: bold;
font-size: 18px;
}